
header{}
footer{
	
	height: 80px;
	padding: 30px;
}
#content{
	min-height:400px;
	border-top: 1px #337ab7 solid;
	border-bottom: 1px #337ab7 solid;
}
#menu{
	padding-top:50px;
	
}
#logo{
	padding-top:30px;

}
#nome{
	margin: 40px 30px 15px 15px;
    	padding: 6px 8px 8px 6px;
    	background-color: white;
   	border: 2px #000 solid;
}
#logo2{
	padding-top:30px;

}
#p1{
	fronte-size=24px;
	color=red;
}